@media (max-width:991.5px) {
    .flex {
        display: block;
    }
    .clickSet {
        margin-left: 0;
        margin: auto;
        margin-bottom: 0;
        padding-bottom: 100px;
    }
    .info {
        margin-left: 0;
    }
    .day-night {
        margin-top: 30px;
    }
    .s-i {
        width: 130px;
    }
}